In [36]:
#from https://www.tutorialspoint.com/python_data_access/python_postgresql_create_database.htm
#establishing the connection
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import datetime
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

from sqlalchemy import create_engine

In [37]:
# user_name_var = input('What is the username of your database? ')
host_var = input('What is the host address of your database?')
pw = input("Enter the database password: ")
# db_name = input("Enter the name of the database: ")

string_output = "postgresql://root"+':'+pw+'@'+host_var+":5432"+'/postgres'

In [32]:
engine = create_engine(string_output)
connection = engine.connect()
print("Connected to database...")

Connected to database...

# Create Tables in Database

### CSV from USGS

In [ ]:
import pandas as pd
#load csv
df = pd.read_csv('Data_Extraction_Transform/all_month(3).csv', index_col=0)
df.head(5)

In [ ]:
df.to_sql('earthquake_raw', engine, if_exists='replace', index = False)

### Clean CSV for model

In [ ]:
df = pd.read_csv('Data_Extraction_Transform/DroppedTestwithRMSandNST.csv', index_col=0)
df.head(5)

In [ ]:
df.to_sql('earthquake_RFmodel_data', engine, if_exists='replace', index = False)

### Tables need modifying in PG Admin 4 to add primary key via "Alter Table"

# Read Tables from SQL

In [33]:
table_df = pd.read_sql_table(
    "earthquake_raw",
    con=engine
)
table_df

,id,tsunami,felt,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,place,type,magNst,Unix Time,unique_id
0,nn00818986,0,NaN,2021-08-19 02:53:29.951000+00:00,38.541200,-119.463900,3.60,1.30,ml,9.0,58.29,0.04200,0.1139,nn,"3 km NNE of Walker, California",earthquake,4.0,1.629342e+09,1
1,ci40014776,0,NaN,2021-08-19 02:49:35.880000+00:00,35.896667,-117.729167,4.48,0.72,ml,9.0,72.00,0.08187,0.0900,ci,"17km ESE of Little Lake, CA",earthquake,8.0,1.629341e+09,2
2,ak021am2mkg5,0,NaN,2021-08-19 02:49:14.046000+00:00,59.865100,-153.176400,102.60,1.60,ml,NaN,NaN,NaN,0.9900,ak,"52 km E of Pedro Bay, Alaska",earthquake,NaN,1.629341e+09,3
3,nc73611791,0,NaN,2021-08-19 02:46:16.400000+00:00,38.784668,-122.751000,0.33,1.03,md,13.0,84.00,0.01125,0.0100,nc,"1km NNE of The Geysers, CA",earthquake,4.0,1.629341e+09,4
4,ak021am2l4yc,0,NaN,2021-08-19 02:42:46.880000+00:00,56.657400,-157.265100,0.50,2.90,ml,NaN,NaN,NaN,0.6300,ak,"80 km ENE of Chignik, Alaska",earthquake,NaN,1.629341e+09,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13318,uw61755891,0,NaN,2021-07-20 03:11:29.020000+00:00,42.057167,-120.038000,2.26,1.82,ml,7.0,164.00,0.25080,0.0800,uw,"22 km ENE of New Pine Creek, Oregon",earthquake,2.0,1.626751e+09,13319
13319,us7000enlk,0,NaN,2021-07-20 03:08:10.671000+00:00,-12.226100,167.045400,235.32,4.50,mb,NaN,122.00,3.20500,0.9900,us,"190 km NNW of Sola, Vanuatu",earthquake,27.0,1.626750e+09,13320
13320,ak02198guo30,0,NaN,2021-07-20 03:08:03.959000+00:00,59.160800,-149.073100,30.10,1.90,ml,NaN,NaN,NaN,1.0400,ak,"103 km SSE of Lowell Point, Alaska",earthquake,NaN,1.626750e+09,13321
13321,uw61755886,0,NaN,2021-07-20 03:07:04.750000+00:00,43.155500,-122.949667,-0.52,0.92,md,4.0,304.00,0.18670,0.2500,uw,"20 km SE of Glide, Oregon",explosion,3.0,1.626750e+09,13322
13322,us7000enlg,0,1.0,2021-07-20 03:05:26.378000+00:00,-35.350000,-71.441400,98.13,4.10,mb,NaN,85.00,0.41200,0.6300,us,"Maule, Chile",earthquake,11.0,1.626750e+09,13323

In [35]:
connection.close()